@font-face {
  font-family: PTSans;
  font-display: swap;
  src: url(../fonts/PTSans-Regular.woff2) format("woff2"), url(../fonts/PTSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

:root {
  --bg-main: #1d1d27;
  --white: #fff;
  --error-red: #ff4949;
  --border-white: rgba(255, 255, 255, 0.1);
  --wheel-size: 500px;
  --wheel-size-mobile: 300px;
  --wheel-anim-duration: 6.5s;
  --slice-color-odd: #76071f;
  --slice-color-even: #a61635;
  --slice-color-third: #c81d40;
  --wheel-border-color: #aaa;
  --wheel-text-color: var(--white);
  --wheel-text-size: 16px;
  --wheel-text-size-mobile: 12px;
  --wheel-text-padding: 0 8% 1% 36%;
  --btn-center-bg: var(--white);
  --btn-center-color: #333;
  --btn-center-size: 20%;
  --btn-center-font-size: 14px;
  --btn-center-shadow: -1px 1px 7px #888;
  --btn-center-active-scale: 0.95;
  --arrow-color: var(--white);
  --arrow-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2)
}

body {
  font-family: "PT Sans", sans-serif;
  background: var(--bg-main);
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.widget-wheel {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.widget-wheel-block {
  width: 100%;
  height: 100%;
  position: relative
}

.widget-wheel-wrap {
  position: relative;
  width: var(--wheel-size);
  height: var(--wheel-size);
  background: var(--wheel-border-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden
}

.widget-wheel-wrap * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1
}

.widget-wheel-center {
  position: absolute;
  width: var(--btn-center-size);
  height: var(--btn-center-size);
  left: calc(50% - var(--btn-center-size)/ 2);
  top: calc(50% - var(--btn-center-size)/ 2);
  background: var(--btn-center-bg);
  color: var(--btn-center-color);
  font-size: var(--btn-center-font-size);
  font-weight: 700;
  border-radius: 50%;
  z-index: 100;
  -webkit-box-shadow: var(--btn-center-shadow);
  box-shadow: var(--btn-center-shadow);
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  outline: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s
}

.widget-wheel-center:active {
  -webkit-transform: scale(var(--btn-center-active-scale));
  -ms-transform: scale(var(--btn-center-active-scale));
  transform: scale(var(--btn-center-active-scale))
}

.widget-wheel-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid var(--arrow-color);
  -webkit-filter: drop-shadow(var(--arrow-shadow));
  filter: drop-shadow(var(--arrow-shadow))
}

.widget-wheel-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden
}

.widget-wheel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 30;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.widget-wheel-text span {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  display: block;
  width: 100%;
  padding: var(--wheel-text-padding);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: var(--wheel-text-size);
  color: var(--wheel-text-color)
}

@media (max-width:620px) {
  .widget-wheel-wrap {
    width: var(--wheel-size-mobile);
    height: var(--wheel-size-mobile)
  }

  .widget-wheel-text span {
    font-size: var(--wheel-text-size-mobile)
  }
}