// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,600,700,800);

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Manrope";

// Шрифт по умолчанию

$md1: 1329.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1660); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #fff;
$accent: #8e6efa;
$green: #c8ea80;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ

html {
	font-size: vwm(16);

	@media (min-width: $md5) {
		font-size: vwt(12);
	}

	@media (min-width: $md3) {
		font-size: vw(26);
	}

	@media (min-width: $md2) {
		font-size: vw(16);
	}

	@media (min-width: 1919.98px) {
		font-size: 16px;
	}
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	color: $text;

	&.lock {
		overflow: hidden;

		@media (min-width: $md2) {
			overflow: visible;
		}
	}
}

// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

//================== ОБОЛОЧКА==================================

@import "./ui";

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	box-sizing: content-box;
	max-width: 100%;
	padding: 0 rem(15);
	max-width: $maxWidthContainer;
}

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

// ========================================================

@import "./wheel";

// .main {
// 	flex: 1 1 auto;
// 	display: flex;
// 	flex-direction: column;
// 	position: relative;
// 	padding: 0 em(0) rem(135) em(0);

// 	@media (min-width: $md2) {
// 		padding: rem(32) em(0) em(0) em(0);
// 	}

// 	// .main__container
// 	&__container {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;

// 		height: 100%;
// 		flex: 1 1 auto;
// 		flex-wrap: wrap;

// 		@media (min-width: $md2) {
// 			flex-wrap: nowrap;
// 		}
// 	}

// 	// .main__title
// 	&__title {
// 		color: #fff;
// 		font-weight: 700;
// 		text-transform: uppercase;
// 		line-height: 109%;
// 		font-size: 1.5rem;
// 		text-align: center;
// 		padding-bottom: 5rem;

// 		@media (min-width: $md5) {
// 			font-size: 4rem;
// 			padding-bottom: 5rem;
// 		}

// 		@media (min-width: $md2) {
// 			text-align: left;
// 			line-height: 114%;
// 			padding-bottom: 8rem;
// 		}
// 	}

// 	// .main__image
// 	&__image {
// 		position: absolute;
// 		z-index: 2;
// 		pointer-events: none;
// 		width: 14.07006rem;
// 		bottom: -1rem;
// 		left: -1rem;

// 		@media (min-width: $md5) {
// 			left: 0;
// 			bottom: -5rem;
// 			width: 34.04388rem;
// 		}
// 	}

// 	// .main__image-mobile
// 	&__image-mobile {
// 		position: absolute;
// 		bottom: -17rem;
// 		right: -1rem;
// 		width: 16.5rem;
// 		z-index: 2;
// 		pointer-events: none;

// 		@media (min-width: $md5) {
// 			width: 26rem;
// 		}

// 		@media (min-width: $md2) {
// 			display: none;
// 		}
// 	}

// 	// .main__spinner
// 	&__spinner {
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		flex: 0 0 100%;

// 		@media (min-width: $md2) {
// 			margin-right: 2rem;
// 			flex: 0 0 rem(735);
// 		}
// 	}

// 	// .main__spinner-main
// 	&__spinner-main {
// 		padding: 7% 6.5% 6.5%;
// 		position: relative;

// 		&::before {
// 			content: "";
// 			position: absolute;
// 			inset: 0;
// 			background: url("@img/wheel-border.png") center / contain no-repeat;
// 			pointer-events: none;
// 			z-index: 2;
// 		}
// 	}

// 	// .main__spinner-dots
// 	&__spinner-dots {}

// 	// .main__spinner-wheel
// 	&__spinner-wheel {}

// 	// .main__spinner-image
// 	&__spinner-image {
// 		position: relative;

// 		@media (min-width: $md4) {
// 			width: 60%;
// 		}

// 		@media (min-width: $md2) {
// 			width: 100%;
// 		}

// 		& img {
// 			width: 100%;
// 		}
// 	}

// 	// .main__spinner-wheel
// 	&__spinner-wheel {
// 		position: relative;
// 		z-index: 1;
// 		transition: transform 0.5s ease-out;
// 	}

// 	// .main__spinner-selector
// 	&__spinner-selector {
// 		position: absolute;
// 		left: 50%;
// 		transform: translateX(-50%);
// 		z-index: 3;
// 		top: -1.5rem;

// 		@media (min-width: $md5) {
// 			top: -3.5rem;
// 		}

// 		& img {
// 			width: 2.7rem;

// 			@media (min-width: $md5) {
// 				width: 5.91275rem;
// 			}
// 		}
// 	}

// 	// .main__spinner-btn
// 	&__spinner-btn {
// 		position: absolute;
// 		z-index: 2;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		border-radius: 50%;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		background: url("@img/btn-bg.png") center / contain no-repeat;
// 		color: #fff;

// 		font-weight: 800;
// 		line-height: 100%;
// 		text-transform: uppercase;
// 		transition: transform 0.3s ease 0s;
// 		font-size: 1.0625rem;
// 		width: 5rem;
// 		height: 5rem;
// 		text-shadow: rgb(0, 0, 0) rem(1) 0 0, rgb(0, 0, 0) rem(0.540302) rem(0.841471) 0, rgb(0, 0, 0) rem(-0.416147) rem(0.909297) 0, rgb(0, 0, 0) rem(-0.989992) rem(0.14112) 0,
// 			rgb(0, 0, 0) rem(-0.653644) rem(-0.756802) rem(0), rgb(0, 0, 0) rem(0.283662) rem(-0.958924) 0, rgb(0, 0, 0) rem(0.96017) rem(-0.279415) 0;

// 		@media (min-width: $md5) {
// 			width: rem(170);
// 			height: rem(170);
// 			color: #fff;

// 			font-size: 2.5rem;
// 			font-weight: 800;
// 			letter-spacing: 0.02438rem;
// 			text-transform: uppercase;
// 		}

// 		& span {
// 			pointer-events: none;
// 			animation: pulse 1s ease infinite;
// 		}
// 	}
// }

// @keyframes pulse {
// 	0% {
// 		transform: scale(1);
// 	}

// 	50% {
// 		transform: scale(1.1);
// 	}

// 	100% {
// 		transform: scale(1);
// 	}
// }

// @keyframes spin {
// 	0% {
// 		transform: rotate(0deg);
// 	}

// 	100% {
// 		transform: rotate(var(--rotate-degrees));
// 	}
// }

// .dot {
// 	position: absolute;
// 	z-index: 2;
// 	height: 1.35%;
// 	width: 1.35%;
// 	border-radius: 50%;
// 	background-color: #fff;

// 	&::before {
// 		content: "";
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: rem(100);
// 		height: rem(100);

// 		@media (min-width: $md5) {
// 			width: rem(140);
// 			height: rem(140);
// 		}

// 		background: url("@img/flash.png") center / contain no-repeat;
// 		mix-blend-mode: screen;
// 	}

// 	mix-blend-mode: screen;
// 	pointer-events: none;

// 	&:nth-child(1) {
// 		right: 40.9%;
// 		top: 5.7%;
// 	}

// 	&:nth-child(2) {
// 		right: 24.5%;
// 		top: 12.7%;
// 	}

// 	&:nth-child(3) {
// 		right: 12.6%;
// 		top: 24.6%;
// 	}

// 	&:nth-child(4) {
// 		right: 6.1%;
// 		top: 40.1%;
// 	}

// 	&:nth-child(5) {
// 		right: 5.8%;
// 		top: 58.5%;
// 	}

// 	&:nth-child(6) {
// 		right: 12.5%;
// 		top: 74%;
// 	}

// 	&:nth-child(7) {
// 		bottom: 12.8%;
// 		right: 24.4%;
// 	}

// 	&:nth-child(8) {
// 		bottom: 5.8%;
// 		right: 40.9%;
// 	}

// 	&:nth-child(9) {
// 		bottom: 6%;
// 		right: 58.2%;
// 	}

// 	&:nth-child(10) {
// 		bottom: 12.6%;
// 		right: 74.6%;
// 	}

// 	&:nth-child(11) {
// 		bottom: 24.8%;
// 		right: 86.5%;
// 	}

// 	&:nth-child(12) {
// 		bottom: 40.1%;
// 		left: 5.4%;
// 	}

// 	&:nth-child(13) {
// 		bottom: 58.4%;
// 		left: 5.5%;
// 	}

// 	&:nth-child(14) {
// 		bottom: 73.8%;
// 		left: 12.1%;
// 	}

// 	&:nth-child(15) {
// 		bottom: 85.7%;
// 		left: 24.1%;
// 	}

// 	&:nth-child(16) {
// 		top: 5.9%;
// 		left: 40.3%;
// 	}

// 	&:nth-child(17) {
// 		bottom: 36.5%;
// 		left: 4%;
// 	}

// 	&:nth-child(18) {
// 		left: 2.3%;
// 		top: 48.3%;
// 	}

// 	&:nth-child(19) {
// 		left: 36.3%;
// 		top: 4.7%;
// 	}

// 	&:nth-child(20) {
// 		left: 25.3%;
// 		top: 9%;
// 	}

// 	&:nth-child(21) {
// 		left: 15.8%;
// 		top: 16.3%;
// 	}

// 	&:nth-child(22) {
// 		left: 8.5%;
// 		top: 25.8%;
// 	}

// 	&:nth-child(23) {
// 		left: 4%;
// 		top: 36.8%;
// 	}
// }