//============ МОДУЛИ ====================


.btn {
	position: relative;
	z-index: 1;
	font-weight: 700;
	line-height: 140%;
	font-size: 0.875rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: em(3.0625, 2);
	letter-spacing: em(0.02, 2);
	padding: em(1, 2) em(3, 2);

	@media (min-width: $md5) {
		padding: em(1.25, 2) em(3.44, 2);
		font-size: 2rem;
	}

	&.btn-primary {
		background: linear-gradient(95deg, #8a6ff2 0.83%, #02e8a4 99.17%);
		color: #0f172b;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #0fdeab;
			z-index: -1;
			filter: blur(rem(47));
			opacity: 0;
			transition: opacity 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
	}
}

// ._loading {
// 	color: transparent;
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: 20px;
// 		height: 20px;
// 		border: 3px solid #fff;
// 		border-bottom-color: transparent;
// 		border-radius: 50%;
// 		transform-origin: center;
// 		animation: rotation 1s linear infinite;
// 		z-index: 3;
// 	}
// }

// @keyframes rotation {
// 	0% {
// 		transform: translate(-50%, -50%) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(-50%, -50%) rotate(360deg);
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;
$scrollbarHover: darken($color: $scrollbarColor,
		$amount: 10,
	);

::-webkit-scrollbar {
	width: rem(8);
}

::-webkit-scrollbar-track {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: #352c33;
	border-radius: rem(8);

	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======